extends ../admin

block title
    title Панель администрирования - Таб_2

block admin__content
    .content-tab
        h2.content-tab__title Страница "Блог"
        form.content-tab2__addArticle(action='/admin_2/blog' method="POST" enctype="application/x-www-form-urlencoded")
            .name.content-tab2__name Добавить запись
            if (msgblog)
                .status= msgblog
            input(type="text" placeholder="Название" name="title").content-tab2__name.admin-input
            - 
              var data = new Date().toLocaleDateString('ru', { 
                year: 'numeric', 
                month: '2-digit', 
                day: '2-digit'
                })
            input(type="text" placeholder="Дата" name="date" value=`${data}`).content-tab2__data.admin-input
            textarea(placeholder="Содержание" name='text').content-tab2__text.admin-input
            .content-tab2__button
                button(type='submit').btn-admin.btn-admin--add Добавить